#wrap {
    display: grid;
    grid-template-columns: 70rem 70rem;
    
}

#wrap1 {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
}

.random {
    background-image: url("https://i.imgur.com/A0M2tn8.png");
    background-repeat: no-repeat;
    background-size:cover;
    width: 70%;
    height: 118.1vmin;

}

.form-container {
    margin-top: 10rem;

}

.welcome{
    font-weight: bold;
    font-size: 4rem;
}


p{
    font-size: 15px;
    color:rgb(126, 126, 126);
    margin-bottom: 5rem;

}

.forgot {
    display: flex;
    margin-top: 25px;
    margin-right: 2rem;
    flex-direction: row-reverse;
    text-decoration: underline;
}

.forgot:hover{
    color:red;
}



.login{
    color: black;
    display: flex;
    margin: 15px 0 15px 0;
    font-weight: bold;
}

.login-btn{
    width: 45vmin;
    height: 4vmin;
    margin-top: 30px;
    border-radius: 4px;
    background-color: lightgray;

}

input {
    border: 1px solid black;
    border-radius: 4px;
    width: 45vmin;
    height: 4vmin;
}


.option {
    margin-top: 10px;
    text-align: center;
    gap: 5px;
    font-weight: bold;

}

.option:hover {
    color:#134736;
}