#HIW-title{
    font-size: 6vmin;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10rem;
    font-weight: bold;
    
}

.card-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 35rem;
    height: 35rem;
    box-shadow: 2px 2px black;
}


#HomeName {
    position: absolute;
    top: 15rem;
    font-weight: bold;
    color: white;
    text-align: left;
    font-size: 2.7rem;
}

#image{
    /* display: flex; */
    margin: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}



#desc {
    font-size: 1.5rem;
    position: absolute;
    font-weight: bold;
    top: 22rem;
    color: white;
    width: 83vmin;
    margin: 3rem;

}

