.mentor {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 10rem;

}

#profileImg {
    width: 10rem;
    height: 10rem;
    background-color: black;
    border-radius: 50%;
}


#backgroundProfile {
    width: 118rem;
    height: 20rem;
    border: 5px black solid;
}

#bio{
    border: 2px solid black;

}

#section2 {
    border: 2px solid black;
}