.background {
    background-image: url("https://i.imgur.com/z2yXt8n.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70rem;
    /* filter: blur(2px); */
    

}



#header {
    display: flex;

  
}

#title{
    display: block;
    width: 40%;
    text-align: center;
    font-size: 5rem;
    text-align: left;
    margin-left: 5rem;
    margin-top: 20rem;
    font-weight: bold;
    color: white;
    margin-right: 8rem;
}

#header-p {
    margin-top: 20rem;
    font-size: 1rem;
    font-weight: bold;
    width: 30%;
    height: 10;
    margin-left: 20rem;
}

.learnMore {
    display: flex;
    flex-direction: row;
    margin-left: 40rem;
    margin-top: 10rem;
}
