/* #wrap2 {
    display: grid;
    grid-template-columns: 70rem 70rem;
}

#wrap3 {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
} */

#random-side{
    background-image: url("https://i.imgur.com/A0M2tn8.png");
    background-repeat: no-repeat;
    background-size:cover;
    width: 90%;
    height: 118.1vmin;

}

.signUpDiv {
    display: grid;
    grid-template-columns: 65rem 45rem;
}

.welcome{
    font-weight: bold;
    font-size: 4rem;
}

.formSU{
    margin-top: 20%;

}

.under {
    margin-bottom: 2rem;
}


.login-btn{
    width: 45vmin;
    height: 4vmin;
    margin-top: 30px;
    border-radius: 4px;
    background-color: lightgray;

}

.text-sm{
    bottom: 2px;
    left: 5px;
    line-height: .15rem;
}

.signUpDiv input {
    border: 1px solid black;
    border-radius: 4px;
    width: 30vmin;
    height: 4vmin;
}

p.error-message{
    color: black;
    margin: 0;
}