.general, .top, .data, .ux, .thanks, .problem, .solution {
  font-weight: 400;
  font-size: 50px;
}

.message {
  font-size: 25px;
  margin-bottom: 35px;
  margin-top: 10px;
}

.statement {
  color: black;
  font-size: 25px;
}

#MTT {
  margin-top: 30px;
  /* Meet the team! */
  width: 732px;
  height: 68px;
  left: 94px;
  top: 262px;
  /* Heading1/Bold */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
  /* Primary/700 */
  color: #0F382A;
}