#Section1{
    display: flex;
    justify-content: space-evenly;
}

#section1 {
    height: 35rem;
    margin-top: 5rem;
    justify-content: center;

}

#test{
    text-align: center;
    font-weight: bold;
    font-size: 4vmin;
}

#text {
    width: 60rem;
    margin: 2rem 5rem 4rem 2rem;
}

#btn{
    display: flex;
    position: absolute;
    bottom: 18rem;
    right: 24rem;
}

#Section2{
    display: flex;
    gap: 20vmin;
    justify-content: center;
}
#Lbox1{
    width: 37rem;
    height: 30rem;
    border: black solid 5px;
}
#Rbox2{
    width: 25rem;
    height: 30rem;
    border: black solid 5px;
}

